global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket {{ haproxy_socket }} level admin
  chroot {{ haproxy_chroot }}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend {{ haproxy_frontend_name }} {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
    mode {{ haproxy_frontend_mode }}
    default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
    mode {{ haproxy_backend_mode }}
    stats enable
    stats uri {{ haproxy_stats_url }}
    stats realm Strictly\ Private
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_user }}
    balance {{ haproxy_backend_balance_method }}
    balance roundrobin
    option httpclose
    option forwardfor
    {% for backend in haproxy_backend_servers %}
        server {{ backend.name }} {{ backend.address }}:80 check 
    {% endfor %}
